@import url('httpss://fonts.googleapis.com/css?family=Roboto');

body {
  background:linear-gradient(to right, #78a7ba 0%, #385D6C 50%, #78a7ba 99%);
}

.container-form{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    flex-wrap: wrap;
}
.input-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-evenly;
}